/*
 * Legal Disclaimer for Web licence
 *
 * Licence to use self-hosted webfonts for displaying dynamic text on specified website domains. Our package includes WOFF and WOFF2 font formats.
 *
 * Should the license page views limit be exceeded the license holder will be required to contact Lineto.com for an upgrade.
 *
 * It is strictly prohibited to rename the font and to download or use these fonts in any other media.
 *
 * These Web fonts are licensed exclusively for the use on the following domain(s) and their subdomains:
 *
 * sky.money (monthly pageviews: < 5M)
 *
 */

@font-face {
  font-family: 'GraphikStd';
  src: url('/fonts/Graphik-Regular-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'CircleStd';
  src: url('/fonts/CircularXXWeb-Book.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@property --gradient-opacity {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 100%;
}

@layer base {
  :root {
    --brand-dark-purple: 26 24 85;
    --brand-middle-purple: 42 25 125;
    --brand-purple: 67 49 233;
    --brand-light-purple: 80 77 255;

    /* NOTE: in the radial gradients, the color stop percentages needs to be placed after the color value.
       TODO: update the rest of the gradients to this format
     */
    --primary-purple-40: radial-gradient(
        116.48% 116.48% at 50% 2.27%,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.25) 100%
      ),
      linear-gradient(0deg, rgba(67, 49, 233, 0.4) 0%, rgba(67, 49, 233, 0.4) 100%),
      linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));

    --primary-purple-100: #ffffffb3, #1a1855ff,
      radial-gradient(50% 50% at 50% 50%, 0% rgba(255, 255, 255, 0), 100% rgba(255, 255, 255, 1));
    --primary-purple-5: #ffffffff, #4331e90d,
      radial-gradient(50% 50% at 50% 50%, 0% rgba(255, 255, 255, 0), 100% rgba(255, 255, 255, 1));
    --primary-pink: #d298ff;
    --primary-white: #ffffffff;
    --primary-glass-stroke: linear-gradient(90deg, 0% rgba(255, 255, 255, 1), 100% rgba(255, 255, 255, 0)),
      #ffffff80;

    --service-purple-25: #ffffff4d, #4331e940,
      radial-gradient(50% 50% at 50% 50%, 0% rgba(255, 255, 255, 0), 100% rgba(255, 255, 255, 1));

    --service-purple-15: radial-gradient(
        116.48% 116.48% at 50% 2.27%,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.25) 100%
      ),
      linear-gradient(0deg, rgba(67, 49, 233, 0.15) 0%, rgba(67, 49, 233, 0.15) 100%),
      linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));

    --service-purple-5: radial-gradient(
        116.48% 116.48% at 50% 2.27%,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.25) 100%
      ),
      linear-gradient(0deg, rgba(67, 49, 233, 0.05) 0%, rgba(67, 49, 233, 0.05) 100%),
      linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08));

    --service-purple-0: radial-gradient(
        116.48% 116.48% at 50% 2.27%,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.12) 100%
      ),
      linear-gradient(0deg, rgba(67, 49, 233, 0) 0%, rgba(67, 49, 233, 0) 100%),
      linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));

    --service-focused: #ffffffe6, #312e9dff,
      radial-gradient(50% 50% at 50% 50%, 0% rgba(255, 255, 255, 0), 100% rgba(255, 255, 255, 1));
    --service-green: #1dd9ba;
    --service-chart-green: linear-gradient(90deg, 0% rgba(0, 161, 103, 1), 100% rgba(0, 161, 103, 0));
    --service-red: #ff6d6d;
    --service-chart-red: linear-gradient(90deg, 0% rgba(255, 130, 129, 1), 100% rgba(255, 130, 129, 0));
    --service-nav-light: linear-gradient(
      90deg,
      rgba(71, 34, 255, 0) 2.2%,
      #9580ff 48.55%,
      rgba(54, 13, 255, 0) 100%
    );

    --transparent-white-20-gradient: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    );
    --transparent-white-70-gradient: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    );

    --transparent-white-overlay-40: #ffffff66;
    --transparent-white-overlay-15: #ffffff26;

    --transparent-white-70: #ffffffb3;
    --transparent-white-40: #ffffff66;
    /* --transparent-white-25: #ffffff40; */
    --transparent-white-20: #ffffff33;
    --transparent-white-15: #ffffff26;
    --transparent-white-05: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));

    --transparent-black-85: #0c0c0dd9;
    --transparent-black-65: #0c0c0da6;
    --transparent-black-20: #00000033;
    --transparent-black-10: #0c0c0d1a;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    width: 0;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar-thin {
    scrollbar-gutter: stable;
  }

  .scrollbar-thin:hover::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px var(--transparent-white-15);
    border: solid 3px transparent;
    border-radius: 5px;
  }

  [data-state='open'] .chevron-down {
    transform: rotate(180deg);
    transition: transform 0.2s ease-in-out; /* Smooth transition */
  }

  /* InputStyles.module.css */
  .hideSpinButton {
    -webkit-appearance: none;
    -moz-appearance: textfield;
  }

  .hideSpinButton::-webkit-inner-spin-button,
  .hideSpinButton::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
